
.cell-selection,
.cell-label {
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
}

.cell-selection {
  width: 30px;
}

.provider-container {
  height: 400px;
  overflow: auto;
}

.main-table {
  width: 100%;
}
