// layout
$main-background-color: var(--main-background-color);
$main-text-color: var(--main-text-color);

// left menu
$left-menu-background-color: var(--left-menu-background-color);
$left-menu-active-background-color: var(--left-menu-active-background-color);
$left-menu-border-color: var(--left-menu-border-color);
$left-menu-text-color: var(--left-menu-text-color);

// header
$header-text-color: var(--header-text-color);
$header-background-color: var(--header-background-color);

// buttons
$button-background-color: var(--button-background-color);
$button-border-color: var(--button-border-color);
$button-text-color: var(--button-text-color);
